@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Poppins', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
    
    --color-bglight: #c7c7c7;
    --color-light-primary: #162600;
}

.btn-primary {
    @apply flex bg-light-primary/10 text-xs rounded-lg gap-2 items-center hover:bg-light-primary/15 transition;
}

.infobox-accent {
    @apply flex bg-lime-600/10 w-fit p-4 rounded-lg outline outline-lime-600/35;
}

.background-radial-blur {
    @apply absolute z-[-1] w-300 h-300 right-0 top-0 rounded-full bg-[radial-gradient(circle,_rgba(94,165,0,0.15)_0%,_rgba(94,165,0,0)_60%)];
}